@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: medium;
  text-align: center;
}

.shadow {
  filter: drop-shadow(0px 0px 5px LightGrey);
}
