@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
  --bg-white: white;
  --bg-black: black;
  --cl-white: black;
  --cl-black: white;
  --cl-gutter: #F0F0F0;
  background: var(--cl-gutter);
}

mark {
  line-height: 2;
  background-color: var(--bg-white) !important;
  color: var(--cl-white) !important;
}

.App {
  background: var(--cl-gutter);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  text-align: center;
  color: var(--cl-white);
}

.bg-white {
  background: var(--bg-white);
  color: var(--cl-white) !important;
}

.bg-black {
  background: var(--bg-black);
  color: var(--cl-black) !important;
}

.card-expandable {
  height: 150px;
  transition: height 0.5s ease;
}

/*.card-expandable:hover {*/
/*  height: 400px;*/
/*  transition: height 0.5s ease;*/
/*}*/